@using DataLayer.NotMapped
@using ViewModelsLayer.Sales
@using MusicalShopApp.Common
@using ViewModelsLayer.Goods
@using DataLayer.SupportClasses
@using static Common.CommonExtensions

@{
    ViewBag.Title = "Просмотр продажи";
}

@model SaleUnitModel

<article>
    <h3>Продажа @Model.SaleId</h3>
    <div>
        <div>
            <h5>Статус</h5>
            <p>
                @(
                    Model.Status switch
                    {
                        SaleStatus.Reserved => "Зарезервировано",
                        SaleStatus.Returned => "Возвращено",
                        SaleStatus.Sold => "Продано",
                        SaleStatus.YetNotPaid => "Еще не оплачено",
                        _ => throw new Exception()
                    }
                    )
            </p>
        </div>
        <div>
            <h5>Оплачено</h5>
            <p>@(Model.IsPaid.Humanize())</p>
            @if (Model.Status == SaleStatus.YetNotPaid)
                @await Html.PartialAsync("_SalePayButton", Model)

        </div>
        @if (Model.Status == SaleStatus.Sold)
            @await Html.PartialAsync("_SaleReturnButton", Model)


        <div>
            <h5>Дата продажи</h5>
            <p>@(Model.SaleDate.HumanizeInDetail(HumanizerWrapper.Humanize) ?? "Не продано")</p>
        </div>
        <div>
            <h5>Дата возврата</h5>
            <p>@(Model.ReturningDate.HumanizeInDetail(HumanizerWrapper.Humanize) ?? "Не возвращено")</p>
        </div>
        <div>
            <h5>Дата резервирования</h5>
            @if (Model.Status == SaleStatus.Reserved)
                @await Html.PartialAsync("_SaleAllocateButton", Model)



            <p>@(Model.ReservationDate.HumanizeInDetail(HumanizerWrapper.Humanize) ?? "Не было зарезервировано")</p>
        </div>
        <div>
            <h5>Количество единиц товара</h5>
            <p>@Model.GoodsUnitsCount</p>
        </div>
        <div>
            <h5>Товар</h5>
            <ul>
                @await Html.PartialAsync("_GoodsList", new PartialGoodsListModel(Model.GoodsItems, false))
            </ul>
        </div>
        <div>
            <h5>Итого:</h5>
            <p>@Model.Total.ToMoney()</p>
        </div>
    </div>
</article>
