@using ViewModelsLayer.Goods
@using DataLayer.SupportClasses

@model List<GoodsUnitSearchDto>

<div class="cards-with-goods">
    <hr class="narrow" />
    @for (int i = 0; i < Model.Count; i++)
    {
        <div class="mini-card">
            <div class="mini-card-left">
                <a href="@Model[i].Id">
                    <h4 class="mini-card-name">@Model[i].Name</h4>
                </a>
                <div class="mini-card-type">
                    @Model[i].Type
                </div>
                <div class="mini-card-description">
                    @Model[i].Description
                </div>
                <div>
                    <span class="Model[i]-mini-card-price">
                        @Model[i].Price.ToMoney()
                    </span>
                    <span class="Model[i]-mini-card-status">
                        @Model[i].Status.ToFormattedText()
                    </span>
                </div>
            </div>
            <div class="mini-card-right">
                <!-- asp-action="AddToOrRemoveFromCart" asp-controller="Goods" data-ajax="true"
                      data-ajax="true"
                      data-ajax-method="post"
                      data-ajax-url="@Url.Action("AddToOrRemoveFromCart", "Goods")"
                      data-ajax-mode="replace"
                      data-ajax-update="#adding-removing-results@(i)"-->
                <form class="mini-card-add-remove" method="post"
                      data-ajax="true"
                      data-ajax-method="post"
                      data-ajax-url="@Url.Action("AddToOrRemoveFromCart", "Goods")"
                      data-ajax-mode="replace"
                      data-ajax-update="#adding-removing-results@(i)">
                    @* @Html.AntiForgeryToken() *@
                    <button class="add-remove-cart-button" type="submit">@(Model[i].IsInCart ? "-" : "+")</button>
                    <input type="hidden" value="@Model[i].Id" name="goodsId" />
                    <input type="hidden" value="@Model[i].IsInCart.ToString()" name="isInCart" />
                </form>
                <div id="adding-removing-results@(i)">
                </div>
            </div>
        </div>
        <hr class="narrow" />
    }
</div>

@* quote: "A Razor section defined in a partial view is invisible to parent markup files. The section is only visible to the partial view in which it's defined." *@
@* @section Scripts {
    <script src="~/js/goodsList.js"></script>
} *@