@using BusinessLogicLayer.Goods.Dto
@using DataLayer.SupportClasses

@model List<GoodsUnitSearchDto>

<div class="cards-with-goods">
    <hr class="narrow" />
    @for (int i = 0; i < Model.Count; i++)
    {
        <div class="goods-mini-card">
            <div class="goods-mini-card-left">
                <a href="@Model[i].Id">
                    <h4 class="goods-mini-card-name">@Model[i].Name</h4>
                </a>
                <div class="goods-mini-card-type">
                    @Model[i].Type
                </div>
                <div class="goods-mini-card-description">
                    @Model[i].Description
                </div>
                <div>
                    <span class="Model[i]-mini-card-price">
                        @Model[i].Price
                    </span>
                    <span class="Model[i]-mini-card-status">
                        @Model[i].Status.ToFormattedText()
                    </span>
                </div>
            </div>
            <div class="goods-mini-card-right">
                <!-- asp-action="AddToOrRemoveFromCart" asp-controller="Goods" data-ajax="true"
                      data-ajax="true"
                      data-ajax-method="post"
                      data-ajax-url="@Url.Action("AddToOrRemoveFromCart", "Goods")"
                      data-ajax-mode="replace"
                      data-ajax-update="#adding-removing-results@(i)"-->
                <form class="goods-mini-card-add-remove" method="post"
                      data-ajax="true"
                      data-ajax-method="post"
                      data-ajax-url="@Url.Action("AddToOrRemoveFromCart", "Goods")"
                      data-ajax-mode="replace"
                      data-ajax-update="#adding-removing-results@(i)">
                    @* @Html.AntiForgeryToken() *@
                    @* <input class="add-remove-cart-button" type="button" action="submit" value="@(Model[i].IsInCart ? "-" : "+")" /> *@
                    <button type="submit" class="add-remove-cart-button">@(Model[i].IsInCart ? "-" : "+")</button>
                    <input type="hidden" value="@Model[i].Id" name="goodsId" />
                    <input type="hidden" value="@Model[i].IsInCart.ToString()" name="isInCart" />
                </form>
                <div id="adding-removing-results@(i)">
                </div>
            </div>
        </div>
        <hr class="narrow" />
    }
</div>