@using DataLayer.NotMapped
@using ViewModelsLayer.Goods
@model GoodsUnitModel

<article>
    <h3>@Model.Name</h3>
    <section>
        <section>
            <h5>Статус</h5>
            <p>@Model.Status</p>
        </section>
        <section>
            <h5>Цена</h5>
            <p>@Model.Price.ToMoney()</p>
        </section>
        <section>
            <h5>Цена</h5>
            <p>@Model.</p>
        </section>
        <section>
            <h5>Описание</h5>
            <p>@Model.Description</p>
        </section>
    </section>
</article>
