@using DataLayer.Models

@model AppUser?
@{
    ViewBag.Title = "Пользователь " + (Model?.UserName ?? "не найден");
}

@if (Model == null)
{
    <div>
        Данный пользователь не найден
    </div>
    return;
}

@* <script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
<script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
 *@

@{
#pragma warning disable 8602
}


<form asp-controller="AdminPanel" asp-action="Edit" method="POST">
    <input name="Id" type="hidden" value="@Model.Id" />
    <table class="specific-user">
        <tr>
            <th>Название атрибута</th>
            <th>Значение атрибута</th>
        </tr>
        <tr>
            <td>Имя</td>
            <td>
                <input asp-for="UserName" />
            </td>
        </tr>
        <tr>
            <td>Нормализованное имя</td>
            <td>@Model.NormalizedUserName.ToStringOrDefaultValue()</td>
        </tr>
        <tr>
            <td>Эл. почта подтверждена</td>
            <td class="checkable">
                <input asp-for="EmailConfirmed" />
            </td>
        </tr>
        <tr>
            <td>Эл. почта</td>
            <td class="editable">
                <input asp-for="Email" />
            </td>
        </tr>
        <tr>
            <td>Нормализованная эл. почта</td>
            <td>@Model.NormalizedEmail.ToStringOrDefaultValue()</td>
        </tr>
        <tr>
            <td>Хэш пароля</td>
            <td>@Model.PasswordHash.ToStringOrDefaultValue()</td>
        </tr>
        <tr>
            <td>Штамп безопасности</td>
            <td>@Model.SecurityStamp.ToStringOrDefaultValue()</td>
        </tr>
        <tr>
            <td>Штамп параллельного доступа</td>
            <td>@Model.ConcurrencyStamp.ToStringOrDefaultValue()</td>
        </tr>
        <tr>
            <td>Номер телефона</td>
            <td class="editable">
                <input class="mask-phone" type="number" min="10000000000" max="99999999999" asp-for="PhoneNumber" />
            </td>
        </tr>
        <tr>
            <td>Номер телефона подтвержден</td>
            <td class="checkable">
                <input asp-for="PhoneNumberConfirmed" />
            </td>
        </tr>
        <tr>
            <td>Двухфакторная аутентификация включена</td>
            <td class="checkable">
                <input asp-for="TwoFactorEnabled" />
            </td>
        </tr>
        <tr>
            <td>Заблокирован до</td>
            <td class="data-editable">
                <input asp-for="LockoutEnd" type="datetime-local" value="@((Model.LockoutEnd != null ? Model.LockoutEnd.Value.ToLocalTime().ToString(@"yyyy-MM-dd\THH:mm:ss.fff") : string.Empty))" />
            </td>
        </tr>
        <tr>
            <td>Заблокирован</td>
            <td class="checkable">
                <input asp-for="LockoutEnabled" />
            </td>
        </tr>
        <tr>
            <td>Недуачных попыток входа</td>
            <td>@Model.AccessFailedCount</td>
        </tr>
    </table>
    <input type="submit" value="Сохранить изменения" />
    @if (!string.IsNullOrEmpty(ViewBag.Errors))
    {
        <div class="update-user-errors">
            @foreach (string error in ViewBag.Errors.Split("SEP"))
            {
                @error;
                <br />
            }
        </div>
    }
</form>
