@using Microsoft.AspNetCore.Identity
@using DataLayer.Models

@{
#warning it is wrong to use these injections instead of special model
}
@inject UserManager<IdentityUser> userManager
@inject RoleManager<IdentityRole> roleManager

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<div style="overflow-x:auto;">
    <table class="all-users">
        <thead>
            <tr>
                <th>Идентификатор</th>
                <th>Имя</th>
                <th>Эл. почта</th>
                <th>Роли</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in userManager.Users.ToList())
            {
                <tr>
                    <td>
                        <a href="@Url.Action("SpecificUser", "Admin", values: new {userId = user.Id})">
                            @user.Id
                        </a>
                    </td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    @{
                        var roles = await userManager.GetRolesAsync(user);
                        if (roles.Count == 0)
                        {
                            <td>-</td>
                        }
                        else
                        {
                            <td>
                                <ul class="roles-list">
                                    @foreach (IdentityRole role in roleManager.Roles.ToList())
                                    {
                                        <li>
                                            <form asp-action="UpdateUserRole" asp-controller="Admin" method="post" class="role-update-form">
                                                <input class="role-update-checkbox" name="Add" type="checkbox" value="@((await userManager.IsInRoleAsync(user, role.Name!)).ToString())" />@role
                                                <input name="roleName" type="hidden" value="@role.Name" />
                                                <input name="userId" type="hidden" value="@user.Id" />
                                            </form>
                                        </li>
                                    }
                                </ul>
                            </td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>