
@{
    ViewBag.Title = "Резервное копирование";
}

@model ViewModelsLayer.Admin.BackupsModel

<h5>ВНИМАНИЕ</h5>
<p>Резервное копирование не распространяется на данные о пользователях и их роли. Следовательно, при наличии проблем с учетными записями пользователей или ролями обратитесь к системному администратору.</p>

<form id="create-backup-form" method="post"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-url="@Url.Action(controller: "Admin", action: "CreateBackup")"
      data-ajax-mode="replace"
      data-ajax-update="#backup-create-result">
    <div>
        <label for="backup-note">Примечание (только латинские буквы):</label>
        <input id="backup-note" name="note" type="text" style="width:350px;" placeholder="Примечание" />
    </div>
    @* @Html.AntiForgeryToken() *@
    <input type="submit" value="Сделать резервную копию" />
    <span id="backup-create-result"></span>
</form>
@if (Model is null)
{
    <p>
        @{#warning something went wrong}
        Что-то пошло не так.
    </p>
}
else if (Model.BackupsDict.Count == 0)
{
    <p>
        Резервные копии не обнаружены. Вы можете выполнить резервное копирование базы данных для восстановления данных в будущем.
    </p>
}
else
{
    <form method="post"
          data-ajax="true"
          data-ajax-method="post"
          data-ajax-url="@Url.Action(controller: "Admin", action: "RestoreBackup")"
          data-ajax-mode="replace"
          data-ajax-update="#backup-restore-result">
        <table>
            <thead>
                <tr>
                    <td>Выбор копии для восстановления</td>
                    <td>Дата и время выполнения копии (UTC)</td>
                    <td>Примечание</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var (dateTime, note) in Model.BackupsDict)
                {
                    <tr>
                        <td>
                            <input type="radio" name="dateTime" value="@dateTime" />
                        </td>
                        <td>@dateTime</td>
                        <td>@note</td>
                    </tr>
                }
            </tbody>
        </table>
        <input type="submit" value="Оформить восстановление" />
        <span id="backup-restore-result"></span>
    </form>
}

@section Scripts {
    <script src="~/js/adminBackups.js"></script>
}